background/OnTIMEr18_n_a_backsub.ome.tif
*.tif
*.h5ad
background/OnTIMEr18_n_a_backsub.ome.tif
data/exp_2/34434_1_adata.h5ad
data/exp_5/segmentation/fov2_whole_cell.tiff
data/exp_5/segmentation/fov5_whole_cell.tiff
data/exp_5/segmentation/fov4_whole_cell.tiff
data/exp_5/segmentation/fov3_whole_cell.tiff
data/exp_5/segmentation/fov1_whole_cell.tiff
data/exp_5/segmentation/fov0_whole_cell.tiff
data/exp_4/segmentation/fov4_whole_cell.tiff
data/exp_4/segmentation/fov3_whole_cell.tiff
data/exp_4/segmentation/fov1_whole_cell.tiff
data/exp_4/segmentation/fov0_whole_cell.tiff
data/exp_4/35559_1_adata.h5ad
data/exp_3/segmentation/fov2_whole_cell.tiff
data/exp_3/segmentation/fov5_whole_cell.tiff
data/exp_3/segmentation/fov4_whole_cell.tiff
data/exp_3/segmentation/fov3_whole_cell.tiff
data/exp_3/segmentation/fov6_whole_cell.tiff
data/exp_3/segmentation/fov1_whole_cell.tiff
data/exp_3/segmentation/fov0_whole_cell.tiff
data/exp_3/segmentation/fov7_whole_cell.tiff
data/exp_3/33694_1_adata.h5ad
data/RA_OA/tmp6.h5ad
background/c0_r0c0.tiff
background/OnTIMEr18_n_a_backsub.ome.tif
background/c1_r0c0.tiff
data/xenium_pancreas_10x/niche_features/pdac_pancreas_v1_with_niches.h5ad
data/xenium_pancreas_10x/niche_features/pdac_io_v1_with_niches.h5ad
data/xenium_pancreas_10x/niche_features/pdac_addon_v1_with_niches.h5ad
data/xenium_pancreas_10x/niche_features/normal_nondiseased_v1_with_niches.h5ad
data/xenium_pancreas_10x/annotated_h5ad/pdac_addon_v1_annotated.h5ad
data/xenium_pancreas_10x/annotated_h5ad/pdac_io_v1_annotated.h5ad
data/xenium_pancreas_10x/annotated_h5ad/pdac_pancreas_v1_annotated.h5ad
data/xenium_pancreas_10x/annotated_h5ad/normal_nondiseased_v1_annotated.h5ad
data/exp_2/segmentation/fov2_whole_cell.tiff
data/exp_2/segmentation/fov5_whole_cell.tiff
data/exp_2/segmentation/fov4_whole_cell.tiff
data/exp_2/segmentation/fov3_whole_cell.tiff
data/exp_2/segmentation/fov1_whole_cell.tiff
data/exp_2/segmentation/fov0_whole_cell.tiff
data/exp_2/pixel_features.csv
data/exp_2/34434_1_annotation.csv
data/exp_2/34434_1_adata.h5ad
data/exp_2/niche_feature_table.csv
data/exp_5/40331_1_adata.h5ad
data/exp_5/segmentation/fov2_whole_cell.tiff
data/exp_5/segmentation/fov5_whole_cell.tiff
data/exp_5/segmentation/fov4_whole_cell.tiff
data/exp_5/segmentation/fov3_whole_cell.tiff
data/exp_5/segmentation/fov1_whole_cell.tiff
data/exp_5/segmentation/fov0_whole_cell.tiff
data/exp_5/pixel_features.csv
data/exp_5/40331_1_regionprops_patch.csv
data/exp_4/segmentation/fov2_whole_cell.tiff
data/exp_4/segmentation/fov5_whole_cell.tiff
data/exp_4/segmentation/fov4_whole_cell.tiff
data/exp_4/segmentation/fov3_whole_cell.tiff
data/exp_4/segmentation/fov6_whole_cell.tiff
data/exp_4/segmentation/fov1_whole_cell.tiff
data/exp_4/segmentation/fov0_whole_cell.tiff
data/exp_4/segmentation/fov7_whole_cell.tiff
data/exp_4/segmentation/fov8_whole_cell.tiff
data/exp_4/35559_1_annotation.csv
data/exp_4/35559_1_adata.h5ad
data/exp_4/pixel_features.csv
data/exp_4/niche_feature_table.csv
data/exp_3/33694_1_annotation.csv
data/exp_3/segmentation/fov2_whole_cell.tiff
data/exp_3/segmentation/fov5_whole_cell.tiff
data/exp_3/segmentation/fov4_whole_cell.tiff
data/exp_3/segmentation/fov3_whole_cell.tiff
data/exp_3/segmentation/fov6_whole_cell.tiff
data/exp_3/segmentation/fov10_whole_cell.tiff
data/exp_3/segmentation/fov9_whole_cell.tiff
data/exp_3/segmentation/fov1_whole_cell.tiff
data/exp_3/segmentation/fov0_whole_cell.tiff
data/exp_3/segmentation/fov7_whole_cell.tiff
data/exp_3/segmentation/fov11_whole_cell.tiff
data/exp_3/segmentation/fov8_whole_cell.tiff
data/exp_3/33694_1_adata.h5ad
data/exp_3/pixel_features_with_regionprops.csv
data/RA_OA/tmp6.h5ad
data/combined_exp_2_3_4_5/spatial_cells_structural_35559_1.pkl
data/combined_exp_2_3_4_5/spatial_cells_auto_branch_n24_v3_contextual_34434_1.pkl
data/combined_exp_2_3_4_5/spatial_cells_auto_branch_n24_v2_35559_1.pkl
data/combined_exp_2_3_4_5/spatial_cells_auto_branch_n24_v3_with_epithelial_34434_1.pkl
data/combined_exp_2_3_4_5/spatial_cells_40331_1.pkl
data/combined_exp_2_3_4_5/spatial_cells_33694_1.pkl
data/combined_exp_2_3_4_5/spatial_cells_auto_branch_n24_v3_contextual_40331_1.pkl
data/combined_exp_2_3_4_5/spatial_cells_auto_branch_n24_v3_with_epithelial_33694_1.pkl
data/combined_exp_2_3_4_5/spatial_cells_auto_branch_n24_v3_contextual_33694_1.pkl
data/combined_exp_2_3_4_5/spatial_cells_auto_branch_n24_v3_with_epithelial_40331_1.pkl
data/combined_exp_2_3_4_5/spatial_cells_curated_branch_v1_35559_1.pkl
data/combined_exp_2_3_4_5/spatial_cells_branch_v2_35559_1.pkl
data/combined_exp_2_3_4_5/spatial_cells_auto_branch_n24_v1_35559_1.pkl
data/combined_exp_2_3_4_5/spatial_cells_auto_branch_n24_v2_33694_1.pkl
data/combined_exp_2_3_4_5/spatial_cells_structural_40331_1.pkl
data/combined_exp_2_3_4_5/pooled_pathology_with_panin_validation_scores.pkl
data/combined_exp_2_3_4_5/spatial_cells_structural_33694_1.pkl
data/combined_exp_2_3_4_5/spatial_cells_auto_branch_n24_v2_40331_1.pkl
data/combined_exp_2_3_4_5/spatial_cells_curated_branch_v1_34434_1.pkl
data/combined_exp_2_3_4_5/pooled_pathology_feature_df.pkl
data/combined_exp_2_3_4_5/spatial_cells_auto_branch_n24_v1_34434_1.pkl
data/combined_exp_2_3_4_5/spatial_cells_branch_v2_34434_1.pkl
data/combined_exp_2_3_4_5/spatial_cells_structural_34434_1.pkl
data/combined_exp_2_3_4_5/spatial_cells_curated_branch_v1_33694_1.pkl
data/combined_exp_2_3_4_5/spatial_cells_auto_branch_n24_v3_contextual_35559_1.pkl
data/combined_exp_2_3_4_5/spatial_cells_auto_branch_n24_v2_34434_1.pkl
data/combined_exp_2_3_4_5/spatial_cells_curated_branch_v1_40331_1.pkl
data/combined_exp_2_3_4_5/spatial_cells_auto_branch_n24_v3_with_epithelial_35559_1.pkl
data/combined_exp_2_3_4_5/spatial_cells_auto_branch_n24_v1_40331_1.pkl
data/combined_exp_2_3_4_5/spatial_cells_branch_v2_40331_1.pkl
data/combined_exp_2_3_4_5/spatial_cells_branch_v2_33694_1.pkl
data/combined_exp_2_3_4_5/spatial_cells_auto_branch_n24_v1_33694_1.pkl
notebooks/results/ra_oa_ecm_cell/ra_oa_cell_fiber_links.pkl
